.navbar-brand {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.navbar {
  background: linear-gradient(
    to right,
    var(--dark-pink),
    var(--light-pink),
    var(--purple)
  );
}

.name {
  color: white;
  font-size: small;
  margin-left: auto;
}
